In [4]:
!pip install pymongo dnspython

Requirement already satisfied: pymongo in /home/abdullahz/.local/lib/python3.8/site-packages (3.11.3)
Collecting dnspython
  Downloading dnspython-2.1.0-py3-none-any.whl (241 kB)
     |████████████████████████████████| 241 kB 6.1 MB/s eta 0:00:01
Installing collected packages: dnspython
Successfully installed dnspython-2.1.0

In [1]:
import pymongo
import dns
import pandas as pd 
import numpy as np

In [2]:
#put in the string i sent over here
ATLAS_URI = "mongodb+srv://nyumongo:nyumongo@cluster0.tolqi.mongodb.net/ProjectsinProgramming?retryWrites=true&w=majority"

In [3]:
client = pymongo.MongoClient(ATLAS_URI)

In [4]:
db = client['ProjectsinProgramming']

In [5]:
yellowTaxiTable = db['YellowTaxi']
uberLyftTable = db['UberLyftStuff']

In [6]:
yellowTaxi_df = pd.DataFrame(list(yellowTaxiTable.find()))

In [7]:
yellowTaxi_df

,_id,key,fare_amount,pickup_datetime,passenger_count,distance
0,608328c055a7bf9dfb58cd9a,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21,1,1.03
1,608328c055a7bf9dfb58cd9b,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16,1,8.45
2,608328c055a7bf9dfb58cd9c,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00,2,1.39
3,608328c055a7bf9dfb58cd9d,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42,1,2.80
4,608328c055a7bf9dfb58cd9e,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00,1,2.00
...,...,...,...,...,...,...
693065,60832b2355a7bf9dfb6360e3,2010-02-12 12:03:21.0000003,9.7,2010-02-12 12:03:21,1,3.23
693066,60832b2355a7bf9dfb6360e4,2011-07-22 11:46:20.0000002,23.7,2011-07-22 11:46:20,4,12.73
693067,60832b2355a7bf9dfb6360e5,2011-09-07 10:29:16.0000002,4.5,2011-09-07 10:29:16,1,0.32
693068,60832b2355a7bf9dfb6360e6,2009-10-12 12:58:42.0000003,6.5,2009-10-12 12:58:42,1,2.27
693069,60832b2355a7bf9dfb6360e7,2009-10-18 18:45:42.0000001,6.9,2009-10-18 18:45:42,1,1.50

In [8]:
uber_df = pd.DataFrame(list(uberLyftTable.find({"cab_type":"Uber"})))

In [9]:
uber_df

,_id,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,607f3e3d2e3d002771568a72,1.11,Uber,2021-04-20 20:34:28,West End,North End,12.0,1,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL
1,607f3e3d2e3d002771568a73,1.11,Uber,2021-04-20 20:34:28,West End,North End,16.0,1,23f145da-f0c1-4d1f-a184-496bc003a7db,6c84fd89-3f11-4782-9b50-97c468b19529,Black
2,607f3e3d2e3d002771568a74,1.11,Uber,2021-04-20 20:34:28,West End,North End,7.5,1,357559cb-8c58-4278-a41a-e33b2e0997a3,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX
3,607f3e3d2e3d002771568a75,1.11,Uber,2021-04-20 20:34:28,West End,North End,7.5,1,50ef1165-9d23-416c-a65c-18906207b295,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,WAV
4,607f3e3d2e3d002771568a76,1.11,Uber,2021-04-20 20:34:28,West End,North End,26.0,1,91c4861c-1780-42b0-bca1-bbd64a422cc3,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV
...,...,...,...,...,...,...,...,...,...,...,...
379356,607f41b42e3d00277160f255,0.68,Uber,2021-04-20 20:34:28,West End,Haymarket Square,7.5,1,c4710d27-0712-410b-901d-971eea2728cc,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX
379357,607f41b42e3d00277160f256,0.68,Uber,2021-04-20 20:34:28,West End,Haymarket Square,9.5,1,d958c0af-80af-4335-ad95-ed75ef1a95f2,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL
379358,607f41b42e3d00277160f257,0.68,Uber,2021-04-20 20:34:28,West End,Haymarket Square,7.5,1,f9d3cd99-db86-42b6-8503-17912ccc0205,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,WAV
379359,607f41b42e3d00277160f258,0.68,Uber,2021-04-20 20:34:28,West End,Haymarket Square,16.0,1,ff461710-cb49-44b0-a124-bea0819b007e,6c84fd89-3f11-4782-9b50-97c468b19529,Black
379360,607f41b42e3d00277160f275,0.30,Uber,2021-04-20 20:34:28,North Station,North End,7.0,1,634c1ec5-5560-4f95-9157-d34a4ed8f30f,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,WAV

In [10]:
lyft_df = pd.DataFrame(list(uberLyftTable.find({"cab_type":"Lyft"})))

In [11]:
lyft_df

,_id,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,607f3e3d2e3d002771568a66,0.44,Lyft,2021-04-20 20:34:28,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,607f3e3d2e3d002771568a67,0.44,Lyft,2021-04-20 20:34:28,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,607f3e3d2e3d002771568a68,0.44,Lyft,2021-04-20 20:34:28,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,607f3e3d2e3d002771568a69,0.44,Lyft,2021-04-20 20:34:28,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,607f3e3d2e3d002771568a6a,0.44,Lyft,2021-04-20 20:34:28,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL
...,...,...,...,...,...,...,...,...,...,...,...
302634,607f41b42e3d00277160f270,2.83,Lyft,2021-04-20 20:34:28,West End,Fenway,34.0,1.0,53f9f07e-459f-430b-87ac-c508b2014248,lyft_luxsuv,Lux Black XL
302635,607f41b42e3d00277160f271,2.83,Lyft,2021-04-20 20:34:28,West End,Fenway,16.5,1.0,56352238-e21b-4507-80d7-c1f985735b86,lyft_plus,Lyft XL
302636,607f41b42e3d00277160f272,2.83,Lyft,2021-04-20 20:34:28,West End,Fenway,19.5,1.0,90d15d2e-2a40-4c33-a914-4e28da5c3bb6,lyft_premier,Lux
302637,607f41b42e3d00277160f273,2.83,Lyft,2021-04-20 20:34:28,West End,Fenway,26.0,1.0,b73fcadd-b851-4383-9ae4-74a2afd79fb0,lyft_lux,Lux Black
302638,607f41b42e3d00277160f274,2.83,Lyft,2021-04-20 20:34:28,West End,Fenway,9.0,1.0,dc279ce6-c984-45fb-aeda-4bb271cdbade,lyft_line,Shared